*
{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    flex-direction: column;    
}

#reset{
    margin: 48px 40%;
    padding: 20px;
    background-color: rgb(76, 120, 202);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 350;
}

#reset:hover{
    background-color: rgb(169, 136, 200);
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}

td
{
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

.scores
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 80px;
}

.title
{
    padding: 15;
    margin: 30px;
}